body {
    max-width: 1920px;
    background: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #24282C;
    font-family: "Electrolize", cursive;
}

* {
    box-sizing: border-box;
}

#container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

header {
    background-color: rgb(36, 40, 44, 30%);
    border-radius: 800px;
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 40px;
    border: 3px solid transparent;
}

header:hover {
    border: 3px solid #ffd300;
}

#logo {
    position: absolute;
    top: 0px;
    left: calc(43% - 240px);
    width: 240px;
    color: #ffd300;
    filter: invert(100%) sepia(100%) saturate(600%) hue-rotate(550deg);
}

#title {
    margin: 0;
    text-align: center;
    font-family: "Righteous", curise;
    font-size: 72px;
    color: #ffd300;
    padding-top: 30px;
    padding-bottom: 30px;
}

#blur {
    width: 400px;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    opacity: 0.75;
    border: 2px solid transparent;
}

#blur:hover {
    
    border: 2px solid #ffd300;
}

#login-form {
    padding: 18px 40px 18px 40px; 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-size: 14px;
    background-color: transparent;
    color: white;
}

#login-form input:not(input[type="submit"]) {
    padding: 12px;
    margin-bottom: 12px;
    color: white;
    background-color: transparent;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid white;
}

#login-form button {
    padding: 12px 0 12px 0;
    border-radius: 0 0 15px 15px;
    font-family: "Electrolize", cursive;
}

#login-form label {
    padding-top: 20px;
    padding-bottom: 8px;
}

.fa-envelope, .fa-lock {
    position: absolute;
    color: white;
    font-size: 16px;
    right: 50px;
}

.fa-envelope {
    top: 100px;
}

.fa-lock {
    top: 200px;
}

#forgotten-password {
    border: none;
    background-color: transparent;
    color: white;
    margin: auto;
    padding-top: 15px;
    font-size: 16px;
    width: auto;
    border-radius: 30px;
}

#forgotten-password:hover {
    color: #dd296e;
}

#login-submit {
    padding: 12px;
    color: #dd296e;
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: "Electrolize", cursive;
    border: 1px solid transparent;
}

#login-submit:hover {
    background-color: #dd296e;
    color: white;
    border: 1px solid #24282C;
}

#login-form h2{
    text-align: center;
    margin: auto;
}

#banner img {
    width: 100%;
    max-height: 360px;
    object-fit: cover;
    aspect-ratio: 1440 / 360;
}

#banner figcaption {
    color: white;
    position: relative;
    bottom: 30px;
    left: 90%;
    z-index: 1;
}

#banner {
    margin: auto;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    padding: 0;
    z-index: -1;
}

#explanation {
    position: relative;
    top: 370px;
    left: 20px
}