body {
    max-width: 1920px;
    background: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #24282C;
    font-family: "Righteous", cursive;
}

#container {
    width: 100%;
}

#blur {
    width: 480px;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    opacity: 0.8;
}

#login-form {
    padding: 18px 12px 18px 12px; 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-size: 14px;
}

#login-form input {
    padding: 12px;
    margin-bottom: 12px;
    color: white;

}

#login-form button {
    padding: 12px;
    border-radius: 0 0 15px 15px;
    font-family: "Righteous", cursive;
}

#login-form label {
    padding-bottom: 8px;
}

* {
    box-sizing: border-box;
}

#title {
    margin: 0;
    text-align: center;
    font-size: 72px;
    color: #ffd300;
    padding-top: 120px;
    padding-bottom: 100px;
}

#logo {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 124px;
    width: 100px;
    color: #ffd300;
}

.fa-envelope, .fa-lock {
    position: absolute;
    top: 12px;
    right: 20px;
    color: white;
}